
<% @averages.each_with_index do |average, i| %>
    <div>
    Average for <%= i %> bedrooms is <%= average %>, with quartiles at <%= raw @quartiles[i].to_json %>
<!--<ul>
  <% @average_prices[i].sort.each do |price| %>
  <li><%= price %></li>
  <% end %>
</ul>  -->
      </div>
<% end %>
