<div class="filters">
  <div class="background">
    <div class="background-image">
      <img src="<%= asset_path 'background.jpg' %>">
    </div>
    <div class="search-box">
      <h1>Specify an area</h1>

      <%= simple_form_for(Filter.new) do |f| %>
          <%= f.text_field :area, placeholder: 'Type in an area and hit enter' %>
      <% end %>
      <script>
              var availableTags = <%= raw Area.as_array.to_json %>;
              $( "#filter_area" ).autocomplete({
                  source: availableTags
              });
      </script>
    </div>
  </div>
</div>
